.App {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tile{
  width: 5vw;
  height: 5vw;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}
.row{
  display: flex;
  gap: 0.5rem;
}

.incorrect{
  background-color: lightgrey;
}

.misplace{
  background-color: yellow;
}

.correct{
  background-color: green;
}